$color_gray_light: #999;
$color_white: #fff;
$color_black_dark: #1f1f1f;
$color_gray_dark: #484848;
$color_blue: #2250fc;
$color_none: none;
$color_light_gray: #dadada;
$color_black: #111;
$color_blackest: #000;
$color_dark_gray: #262626;
$color_darker_gray: #444;
$color_lightest_gray: #e2e2e2;
$color_slate_gray: #9896a6;
$color_unset: unset;
$color_lightest: #eee;
$color_medium: #777;
$color_medium_dark: #676767;
$color_light_grayish: #c2c2c2;
$color_grayish: #aaa;
$color_dark_medium: #303030;
$color_medium_grayish: #888;
$color_dark_medium_gray: #555;
$color_steel_blue: #4c5667;
$color_inherit: inherit;
$color_light_grayish_dark: #ccc;
$color_dark_slate_blue: #333;
$color_medium_light_gray: #bbb;

$background-color_white: #fff;
$background-color_dark: #181818;
$background-color_light_white: #f8f9fa;
$background-color_blue: #2250fc;
$background-color_trans: transparent;
$background-color_unset: unset;
$background-color_initial: initial;
$background-color_black: #000;
$background-color_darker: #111;
$background-color_white_gray: #eff1f4;
$background-color_dark_e: #1e1e1e;
$background-color_dark_trans: rgba(0, 0, 0, 0.25);
$background-color_gray_trans: rgba(255, 255, 255, 0.25);
$background-color_off_white: #f4f5f8;
$background-color_gray: #5a6268;
$background-color_yellow: #ffb20e;
$background-color_sky_blue: #53b0f8;
$background-color_parrot_green: #81c868;
$background-color_slat_gray: #444;
$background-color_slat_gray_light: #9896a6;
$background-color_blue2: #0333e8;
$background-color_greyish: #42484d;
$background-color_greenish: #62b944;
$background-color_bluish: #2299f6;
$background-color_yellowish: #da9400;
$background-color_slate_geryish: #333;
$background-color_red: #ca0027;
$background-color_redish: #97001d;
$background-color_blue1: #3b5998;
$background-color_blue2: #00aced;
$background-color_blue3: #007bb6;
$background-color_pink: #ea4c89;
$background-color_peachish: #dd4b39;
$background-color_blue4: #517fa4;
$background-color_red2: #cb2027;
$background-color_blue5: #007ee5;
$background-color_pink2: #ff0084;
$background-color_new_gray: #32506d;
$background-color_sky_blue_2: #00aff0;
$background-color_red3: #b00;
$background-color_black2: #171515;
$background-color_off_white1: #ddd;
$background-color_yellow1: #faa33d;
$background-color_none: none;
$background-color_ccc: #ccc;
$background-color_bbb: #bbb;
$background-color_off_white2: #fdfdfd;
$background-color_trans_black: rgba(0, 0, 0, 0.4);
$background-color_darkest_black: #222;

$border-color-transparent: transparent;
$border-color-primary: #2250fc;
$border-color-white: #fff;
$border-color-dark: #1f1f1f;
$border-color-light-gray: #eee;
$border-color-dark-gray: #272727;
$border-color-lighter-gray: #cecece;
$border-color-lightest-gray: #ebebeb;
$border-color-muted-gray: #e6e8eb;
$border-color-medium-gray: #5a6268;
$border-color-warning: #ffb20e;
$border-color-info: #53b0f8;
$border-color-success: #81c868;
$border-color-primary-dark: #0333e8;
$border-color-white-2: #ffffff;
$border-color-medium-dark-gray: #42484d;
$border-color-success-dark: #62b944;
$border-color-info-dark: #2299f6;
$border-color-warning-dark: #da9400;
$border-color-black: #000;
$border-color-dark: #333;
$border-color-error: #ca0027;
$border-color-error-dark: #97001d;
$border-color-mutes-gray-2: #e6e8eb;
$border-color-light-gray-2: #ddd;
$border-top-color-primary: #111;
$border-top-color-warning: #444444;
$border-bottom-color-primary: #444444;
